
---
// component imports
import Layout from "../layouts/Layout.astro";
---

<Layout title="bio" description="My Bio">
   <section class="container" aria-label="About Me">
      <h2>will write something about me, research interests, other interests, plans and so on</h2>
   </section>
</Layout>




